@charset "utf-8";

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, "微軟正黑體", sans-serif ;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.container {
  width: 1200px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -30px;
  margin-right: -30px;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  background-color: rgba(0,0,0,0);
}

.nav img {
  width: 150px;
}

.nav__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav__btn {
  display: none;
}

.nav__ls {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__ls a {
  text-decoration: none;
  color: #24b4d7;
}

.nav__ls a:hover {
  color: #000;
}

.nav__item {
  margin-left: 15px;
}

.banner {
  position: relative;
}

.banner__img {
  position: relative;
  height: 890px;
}

.banner__img .img__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: slide 20s infinite;
  opacity: 0;
}

.banner__img .img__inner img {
  object-fit: cover;
}

.banner__img .img__inner:nth-child(2) {
  animation-delay: 5s;
}
.banner__img .img__inner:nth-child(3) {
  animation-delay: 10s;
}
.banner__img .img__inner:nth-child(4) {
  animation-delay: 15s;
}

@keyframes slide {
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.banner__info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  width: 730px;
  height: 410px;
  padding: 110px 80px;
  text-align: center;
  background-image: repeating-linear-gradient(-45deg, rgba(256,256,256,.5) 0, rgba(256,256,256,.5) 2px, transparent 2px, transparent 6px);
}

.banner__subtit, .banner__tit, .banner__desc {
  margin: 0;
  color: #24b4d7 ;
}

.banner__subtit {
  font-size: 30px;
}

.banner__tit {
  margin-bottom: 30px;
  font-size: 60px;
}

.banner__desc {
  font-size: 30px;
  font-weight: 900;
}

.signup {
  position: relative;
  top: -55px;
  display: flex;
  justify-content: space-between;
}

.signup__head, .signup__body, .signup__footer {
  box-sizing: border-box;
  height: 110px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.signup__head {
  width: 300px;
  padding: 16px;
  background-color: #24b4d7;
}

.signup__sale {
  margin: 0;
  margin-bottom: 6px;
  font-size: 30px;
  color: #fff;
}

.signup__time {
  font-size: 18px;
  color: #fff;
}

.signup__time--lg {
  font-size: 30px;
}

.signup__body {
  position: relative;
  width: 410px;
  background-color: #4dc4e1;
}

.signup__line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 5px;
  background-color: #ddd;
}

.signup__line--complete {
  width: 70%;
  height: 100%;
  margin: 0;
  background-color: #22a9ca;
}

.signup__ls {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.signup__item {
  position: absolute;
  transform: translate(-50%, -45%);
  text-align: center;
  width: 30%;
}

.item-first {
  transform: translate(-50%, -14%);
}

.signup__box {
  position: relative;
  width: 16px;
  height: 16px;
  margin: auto;
  border-radius: 50%;
  background-color: #ddd;
}

.signup__box--complete {
  background-color: #22a9ca;
}

.signup__box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.signup__top {
  margin-bottom: 4px;
}

.signup__bottom {
  margin-top: 4px;
}

.signup__footer {
  width: 300px;
  padding: 10px;
  background-color: #918eec;
}

.signup__text {
  font-size: 18px;
  color: #fff;
}

.text--lg {
  font-size: 30px;
  font-weight: 900;
}

.text--sm {
  font-size: 12px;
}

.signup__full {
  display: block;
  padding: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.signup__btn .btn {
  width: 150px;
  margin-top: 6px;
  padding: 6px;
  font-size: 18px;
  color: #544fe2;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup__btn .btn:hover {
  color: #544fe2;
  background-color: #ddd;
}

.challenge {
  position: relative;
  margin-top: -10px;
  margin-bottom: 130px;
}

.challenge__tit {
  margin-bottom: 40px;
  font-size: 42px;
  color: #24b4d7 ;
}

.challenge__body {
  margin: 0;
  width: 460px;
  font-size: 18px;
  line-height: 1.8em;
}

.challenge .img__inner, .challenge .screenshot__inner {
  position: absolute;
  transform: skewX(-30deg);
  transform-origin: 0 100%;
  overflow: hidden;
}

.challenge .img__inner::after, .challenge .screenshot__inner::after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewX(30deg);
  transform-origin: inherit;
}

.challenge .img__inner {
  top: 0;
  left: 460px;
  width: 480px;
  height: 500px;
}

.challenge .img__inner::after {
  background-image: url("../images/media_talk.jpg");
  background-position: right;
  width: 160%;
  height: 100%;
}

.challenge .screenshot__inner {
  top: 300px;
  left: -40px;
  width: 600px;
  height: 300px;
}

.challenge .screenshot__inner::after {
  background-image: url("../images/media_video.jpg");
  background-position: top;
  width: 130%;
  height: 100%;
}

.icon__inner {
  position: absolute;
  top: 110px;
  left: 245px;
  z-index: 1;
  transform: skewX(30deg);
  cursor: pointer;
}

.icon__inner img {
  opacity: .8;
}

.screenshot__inner::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,.2) 0, rgba(0,0,0,.2) 2px, transparent 2px, transparent 5px);
  width: 100%;
  height: 100%;
}

.challenge__btn {
  margin-top: 430px;
  text-align: center;
}

.challenge__btn .btn {
  width: 310px;
  padding: 12px;
  font-size: 30px;
  color: #fff;
  background-color: #24b4d7;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.challenge__btn .btn:hover {
  color: #fff;
  background-color: #087eac;
}

.challenge__video {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
}

.video__inner {
  position: fixed;
  width: 560px;
  height: 310px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.course {
  border-color: #24b4d7;
  background-image: repeating-linear-gradient(-45deg, #50c3df 0, #50c3df 3px, #24b4d7 3px, #24b4d7 6px);
}

.course__header {
  padding-top: 140px;
  margin-bottom: 60px;
}

.course__tit {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  width: 920px;
  font-size: 48px;
  color: #24b4d7;
  background-color: #fff;
  text-align: center;
}

.course__body {
  margin-bottom: 60px;
}

.course__stage {
  margin: 0;
  font-size: 40px;
  font-weight: 900;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.course__stage::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
}

.course__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course__sec {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 100%;
  margin: 30px;
  background-color: #fff;
}

.course__sec + .course__sec::after {
  content: "»";
  position: absolute;
  top: 120px;
  left: -45px;
  font-size: 50px;
  color: #fff;
}

.course__sec .img__inner {
  width: 100%;
  height: 200px;
}

.course__sec .img__inner img {
  object-fit: cover;
}

.course__info {
  padding: 15px;
}

.course__head {
  margin: 0;
}

.course__desc {
  margin-bottom: 0;
}

.course__tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
}

.course__btn {
  text-align: center;
}

.course__btn .btn {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 130px;
  padding: 12px;
  font-size: 30px;
  color: #24b4d7;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.course__btn .btn:hover {
  color: #24b4d7;
  background-color: #ddd;
}

.train__tit {
  margin: 0;
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 48px;
  text-align: center;
}

.train__head {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.train__body {
  box-sizing: border-box;
  width: 320px;
  height: 210px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
}

.train__num {
  margin: 0;
  font-size: 48px;
  color: #24b4d7;
}

.train__text {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}

.train__table {
  width: 1030px;
  border-collapse: collapse;
  margin-bottom: 80px;
}

.train__tabletit, .train__item {
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ddd;
  text-align: center;
}

.train__tabletit {
  background-color: #eee;
}

.train__ls--gray {
  background-color: #f6f6f6;
}

.text--bold {
  font-weight: 900;
}

.train__btn {
  text-align: center;
}

.train__btn .btn {
  width: 310px;
  margin-bottom: 130px;
  padding: 12px;
  font-size: 30px;
  color: #fff;
  background-color: #24b4d7;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.train__btn .btn:hover {
  color: #fff;
  background-color: #087eac;
}

.footer {
  background-color: #333;
}

.footer__sec {
  padding: 15px;
}

.footer__tit, .footer__desc, .footer__author {
  margin: 0;
}

.footer__tit {
  font-size: 18px;
  color: #fff;
}

.footer__desc {
  margin-top: 6px;
  font-size: 12px;
  color: #ccc;
}

.footer__author{
  margin-top: 4px;
  font-size: 12px;
  color: #ccc;
}

.top {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: right;
}

.top .btn {
  position: relative;
  right: -115px;
  box-sizing: border-box;
  width: 80px;
  height: 65px;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.ani-fade-in-top, .ani-fade-in-down {
  opacity: 0;
  transition: all 1s;
}

.ani-fade-in-top {
  transform: translateY(-50px);
}

.ani-fade-in-down {
  transform: translateY(50px);
}

.js-ani-fade-in-top, .js-ani-fade-in-down {
  opacity: 1;
  transform: translate(0);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 994px;
  }

  .banner__img {
    height: 750px;
  }

  .signup__head, .signup__body, .signup__footer {
    margin-left: 0;
    margin-right: 0;
  }

  .signup__head {
    width: 275px;
  }

  .signup__body {
    width: 380px;
  }

  .signup__footer {
    width: 275px;
  }

  .challenge__tit {
    margin-bottom: 30px;
    font-size: 36px;
  }

  .challenge .img__inner {
    left: 395px;
    width: 380px;
    height: 380px;
  }

  .challenge .screenshot__inner {
    top: 250px;
    left: 0;
    width: 510px;
    height: 250px;
  }

  .icon__inner {
    top: 90px;
    left: 220px;
  }

  .challenge__btn {
    margin-top: 360px;
  }

  .course__header {
    padding-top: 130px;
  }

  .course__sec {
    width: 280px;
  }

  .course__sec .img__inner {
    height: 160px;
  }

  .train__body {
    width: 275px;
  }

  .train__table {
    width: 900px;
  }

  .top {
    width: 100%;
    bottom: 50px;
    right: 25px;
  }
  
  .top .btn {
    right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 738px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .banner__img {
    height: 745px;
  }

  .banner__info {
    width: 670px;
    height: 360px;
    padding: 80px 0;
  }

  .signup {
    width: 100%;
  }

  .signup__head, .signup__body, .signup__footer {
    margin-left: 0;
    margin-right: 0;
  }

  .signup__sale {
    font-size: 24px;
  }

  .signup__time {
    font-size: 16px;
  }

  .signup__time--lg {
    font-size: 24px;
  }

  .signup__line {
    width: 225px;
  }

  .signup__text {
    font-size: 16px;
  }

  .text--lg {
    font-size: 28px;
    font-weight: 900;
  }

  .text--sm {
    font-size: 12px;
  }

  .challenge {
    width: 100%;
    margin-top: -20px;
  }

  .challenge .img__inner, .challenge .screenshot__inner {
    position: relative;
    transform: skewX(0);
  }

  .challenge .img__inner::after, .challenge .screenshot__inner::after {
    transform: skewX(0);
  }

  .challenge .img__inner {
    top: 20px;
    left: 0;
    width: 100%;
    height: 440px;
  }

  .challenge .img__inner::after {
    width: 100%;
  }

  .challenge .screenshot__inner {
    top: 20px;
    left: 0;
    width: 100%;
    height: 540px;
  }

  .challenge .screenshot__inner::after {
    background-position: center;
    width: 100%;
  }

  .icon__inner {
    top: 230px;
    left: 330px;
    transform: skewX(0);
  }

  .challenge__btn {
    margin-top: 90px;
  }

  .course__tit {
    width: 635px;
    font-size: 32px;
  }

  .course__sec {
    width: 100%;
  }

  .course__sec + .course__sec::after {
    top: -60px;
    left: 340px;
    transform: rotate(90deg);
  }
  
  .course__sec .img__inner {
    height: 385px;
  }

  .train__tit {
    margin-top: 110px;
    font-size: 30px;
  }

  .train__head {
    margin-bottom: 90px;
  }

  .train__body {
    width: 215px;
    padding: 60px 30px;
  }

  .train__text {
    font-size: 18px;
  }

  .train__table {
    width: 710px;
    margin-bottom: 65px;
  }

  .footer__sec {
    text-align: center;
  }

  .top {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 450px;
  }

  .nav {
    display: block;
    padding: 0;
  }

  .nav__btn {
    display: block ;
  }

  .nav__btn .btn {
    margin-right: 15px;
    padding: 0;
    font-size: 30px;
    color: #666;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
  }

  .nav__link {
    display: none;
    background-color: rgba(256,256,256,.7);
  }

  .nav__ls {
    flex-direction: column;
  }
  
  .js-nav__ls {
    display: block;
  }

  .nav__item {
    margin-left: 0;
    padding: 15px;
  }

  .banner__img {
    height: 680px;
  }

  .banner__info {
    width: 420px;
    height: 210px;
    padding: 30px 0;
  }

  .banner__subtit {
    font-size: 24px;
  }

  .banner__tit {
    font-size: 40px;
  }
  
  .banner__desc {
    font-size: 24px;
  }

  .signup {
    flex-wrap: wrap;
    width: 100%;
  }

  .signup__body--first {
    order: -1;
  }

  .signup__head, .signup__footer {
    width: 50%;
  }

  .signup__body {
    width: 100%;
    height: 100px;
  }

  .signup__line {
    width: 380px;
  }

  .challenge {
    width: 100%;
    margin-top: -30px;
  }

  .challenge__tit {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .challenge__body {
    font-size: 16px;
  }
  
  .challenge .img__inner {
    height: 270px;
  }

  .challenge .screenshot__inner {
    height: 340px;
  }

  .icon__inner {
    top: 130px;
    left: 190px;
  }

  .course__tit {
    width: 430px;
  }

  .challenge__btn {
    margin-top: 100px;
  }

  .video__inner {
    width: 400px;
    height: 220px;
  }

  .video__inner .video {
    width: 100%;
    height: 100%;
  }

  .course__header {
    padding-top: 130px;
  }

  .course__tit {
    width: 430px;
    font-size: 22px;
  }

  .course__sec + .course__sec::after {
    left: 200px;
  }

  .course__sec .img__inner {
    height: 240px;
  }

  .train__head {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    
  }

  .train__body {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .train__table {
    width: 420px;
    margin-bottom: 80px;
  }

  .train__tabletit, .train__item {
    font-size: 14px;
  }

  .top {
    width: 100%;
  }
}